/*Styles for tabs start here.*/
body {
    font-family: Arial, sans-serif;
    background-color: rgb(224, 224, 224);
    overflow: hidden;
}
p {
    max-width: 400px;
}

#tabs {
    display: flex;
    /*justify-content: center; */
    background-color: #333;
    padding: 10px;
    padding-bottom: 0px;
}

.tab {
    cursor: pointer;
    padding: 20px;
    color: white;
    background-color: gray;
}

.tab:hover {
    color:gray !important;
    background-color:  rgb(200, 200, 200) !important;
}

.content {
    display: none;
    padding: 20px;
    max-height: calc(100vh - 100px); /* Set the maximum height to 100% of viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
    width: 120%;
}

.active {
    display: block;
}
/*Styles for tabs end here.*/

/*Style rules for tab 2 start here */
#choicesTabButton {
    max-width: 300px;
}

/*Style rules for tab 3 (ToDo Tab) */
li:nth-child(odd) { background: white; }
li:nth-child(even) { background: rgb(200, 200, 200); }

.todo-list {
    max-width: 300px;
    /*margin: 0 auto;*/
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
}

.task label {
    flex-grow: 1;
    text-decoration: none;
    cursor: pointer;
}

.task .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.task.done .delete-button {
    color:white
}

.task.done {
    background-color: rgb(61, 61, 61) !important;
    color:white
}
.task.done label {
    text-decoration: line-through;
    
}

.checkmark {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.task.done .checkmark {
    display: inline;
}

.add-task {
    display: flex;
    margin-bottom: 10px;
}

.add-task input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

/*Style rules for tab 3 (ToDo Tab) ENDS*/ 

/* Style rules for tab 6 (Lower Right Tab) */

.additional-text {
    position: absolute; /* Positioning the text absolutely within the tab */
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 30px; /* Adjust the distance from the right as needed */
    font-size: 16px; /* Adjust the font size as needed */
}

/* Style rules for tab 6 (Lower Right Tab) ENDS */
