/*Styles for tabs start here.*/
body {
    font-family: Arial, sans-serif;
    background-color: rgb(224, 224, 224);
    overflow: hidden;
}
p {
    max-width: 400px;
}

#tabs {
    display: flex;
    /*justify-content: center; */
    background-color: #333;
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.tab {
    cursor: pointer;
    padding: 20px;
    color: white;
    background-color: gray;
}

.tab:hover {
    color:gray !important;
    background-color:  rgb(200, 200, 200) !important;
}

.content {
    display: none;
    max-height: calc(100vh - 100px); /* Set the maximum height to 100% of viewport height */
    margin-left: 10px;
    width: 100%
    

}
#content-0 {
    overflow-y: scroll; /* Enable vertical scrolling */
}

.active {
    display: block;
}
/*Styles for tabs end here.*/

/*Style rules for tab 2 start here */
#choicesTabButton {
    max-width: 300px;
}
#tab2Result {
    max-width: 500px;
}

/*Style rules for tab 3 (ToDo Tab) */
li:nth-child(odd) { background: white; }
li:nth-child(even) { background: rgb(200, 200, 200); }

.todo-list {
    max-width: 300px;
    /*margin: 0 auto;*/
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.task label {
    flex-grow: 1;
    text-decoration: none;
    cursor: pointer;
}

.task .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.task.done .delete-button {
    color:white
}
.task.done {
    background-color: rgb(61, 61, 61) !important;
    color:white
}
.task.done label {
    text-decoration: line-through;
    
}

.checkmark {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.task.done .checkmark {
    display: inline;
}

.add-task {
    display: flex;
    margin-bottom: 10px;
}

.add-task input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

/*Style rules for tab 3 (ToDo Tab) ENDS*/ 

/*Style rules for tab 4 (Colors Tab) STARTS*/
#profile-img{
    width: 250px;
}

#profile-section{
    margin-left: 170px;
}

#paragraph_space{
    margin-left: 67px;
}

.error-message {
    color: rgb(255, 255, 255);
    display: none;
    padding: 25px;
    background-color: rgba(245, 1, 1, 0.5);
    border: 1px solid #f5c6cb;
    position: relative;
    font-size: 1.5rem;
}

.close-error {
    cursor: pointer;
    margin-left: 10%;
    font-size: 50px;
    vertical-align: middle;
}

#smile{
    margin-left: 43%;
    font-family: 'Times New Roman', Times, serif;
}

/*Style rules for tab 4 (Colors Tab) Ends*/

/*Style rules for tab 5 (Colors Tab) STARTS*/

/*#content-4 {
    background-color: pink;
}*/


.tab_5 {
    font-size: 1.3rem;
    text-align: center;
}

.tab_5_hello {
    color: yellow;
    padding: 0;
    margin: 0;
    background-color: black;
    max-width: 100%;
}

.tab_5_hi {
    color: purple;
    padding: 0;
    margin: 0;
    background-color: yellow;
    max-width: 100%;
}

/*Style rules for tab 5 (Colors Tab) ENDS*/

/* Style rules for tab 6 (Lower Right Tab) */

.additional-text {
    position: absolute; /* Positioning the text absolutely within the tab */
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    font-size: 16px; /* Adjust the font size as needed */
}

/* Style rules for tab 6 (Lower Right Tab) ENDS */
