/*Styles for tabs start here.*/
body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

#tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    background-color: gray;
}

.tab:hover {
    color:gray !important;
    background-color:  rgb(200, 200, 200) !important;
}


.content {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}
/*Styles for tabs end here.*/

/*Style rules for tab 3 (ToDo Tab) */
li:nth-child(odd) { background: white; }
li:nth-child(even) { background: rgb(200, 200, 200); }

.todo-list {
    max-width: 300px;
    margin: 0 auto;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task label {
    flex-grow: 1;
    text-decoration: none;
    cursor: pointer;
}

.task .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.task.done .delete-button {
    color:white
}

.task.done {
    background-color: rgb(61, 61, 61) !important;
    color:white
}
.task.done label {
    text-decoration: line-through;
    
}

.checkmark {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.task.done .checkmark {
    display: inline;
}

.add-task {
    display: flex;
    margin-bottom: 10px;
}

.add-task input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

/*Style rules for tab 3 (ToDo Tab) ENDS*/